data
*.pyc
__pycache__/
.ipynb_checkpoints/

venv
.terraform/
.terraform.lock.hcl

.claude/
mlflow.db
mlruns
experiments
logs/
src/predictive_autoscaling.egg-info
mlflow-full-training-test.db
.claude/settings.local.json
.coverage
notebooks/correlation_matrix.csv
